<!DOCTYPE html>
<html>
	<head>
		<title>Daily Planet</title>
		<link rel="stylesheet" type="text/css" href="./style.css">
	</head>
	<body>
		<h1>Daily Planet</h1>
		<a href="./articles/">Articles</a>
		<br>
		<a href="./authors/">Authors</a>
	</body>

</html>