<!DOCTYPE html>
<html>
	<head>
		<title>Daily Planet</title>
		
	</head>
	<body>
		<p>Article</p>

		<div>
		<%= article.title %>
		<br>
		<%= article.author %>
		<br>
		<%= article.content %>
		<br>
		<%= article.fiction %>
		</div>
		
	</body>

</html>