<!DOCTYPE html>
<html>
	<head>
		<title>Daily Planet</title>
		
	</head>
	<body>
		<p>New Article</p>	
		<form method="POST" action="/articles">
			<input type="text" name="title" placeholder="title">
			<br>
			<input type="integer" name="AuthorId"  placeholder="author id">
			<br>
			<input type="text" name="content" placeholder="text">
			<br>
			<input type="text" name="fiction"  placeholder="fiction?">
			<br>
			<input type="submit">
		</form>	
		
	</body>

</html>