<!DOCTYPE html>
<html>
	<head>
		<title>Daily Planet</title>
		
	</head>
	<body>
		<p>Author:</p>

		<div>
		<%= author.first_name + " " + author.last_name %>
		<br>ID:<%= author.id %>
		</div>
		
	</body>

</html>