<!DOCTYPE html>
<html>
	<head>
		<title>Daily Planet</title>
		
	</head>
	<body>
		<p>Authors</p>

		<% for (var i = 0; i < authorsList.length; i++) { %>
		<div>
		<a href="/authors/<%= authorsList[i].id%>"><%= authorsList[i].first_name %></a>
		<br>
		<%= authorsList[i].last_name %>
		</div>
		<% } %>
		
	</body>

</html>