<!DOCTYPE html>
<html>
	<head>
		<title>Daily Planet</title>
		
	</head>
	<body>
		<p>New Author</p>	
		<form method="POST" action="/authors">
			<input type="text" name="first_name" placeholder="first name">
			<br>
			<input type="text" name="last_name"  placeholder="last name">
			<br>
			<input type="submit">
		</form>	
		
	</body>

</html>