<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Calculator App</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<p>Type add/number1/number2 to add</p>
	<p>Type subtract/number1/number2 to subtract</p>
	<p>Type multiply/number1/number2 to multiply</p>
	<p>Type divide/number1/number2 to divide</p>
</body>
</html>